<% set_title "Manage Finances" %>
<script>
  var INVOICES = <%=raw invoice_amounts_hash(@unpaid_invoices).to_json %>;
  $(function () {
    $('#payment_invoice_id').change(function () {
      $('#payment_amount').val( INVOICES[$('#payment_invoice_id').val()] );
    });
  });
</script>

<div class="span-20">
  <h3>Invoices</h3>
  <%= render 'shared/invoices', :invoices => @invoices, :show_username => true %>
</div>
