<div class="span-20">
  <h1>Finances</h1>

  <div class="push-2 span-16 box box_round">
    <%= form_for(@payment) do |f| %>
      <strong>Create Payment</strong> <%= f.label :user_id, "From" %> 
      <%= f.select :user_id, options_from_collection_for_select(@members, :id, :username) %>
      <br />
    <% end %>
  </div>
</div>
