#header_container {
  background: url(/images/header_bg.png) repeat-x;
  height: 46px;
  margin-bottom: 50px;
}
#header_container h2 {
  color: white;
  float: left;
  padding-top: 10px;
  text-shadow:1px 1px 2px #939EAD;
}
