<% content_for :title do %>Home<% end %>

<p>Members, access, billing?</p>
<p>Doors, finances, utilities?</p>

<p>Track development on <a href="https://github.com/abachman/nodewise">the nodewise github page</a>.
