<% set_title @user.username %>
<%# this is a member profile page %>
<%= render 'full_member_profile', :user => @user %>

<div class='span-24' style="margin: 16px 0; ">
  <%= link_to "See all members", members_path %>
</div>
